.main-container {
	display: flex;
	justify-content: center;
	align-content: center;
	background-color: purple;
}
.main-heading {
	color: white;
	font-weight: bolder;
}
.fa {
	height: 300px;
	width: 100px;
}
